/* Everything & Body */
*{margin: 0px; padding: 0px; box-sizing: border-box; user-select: none; scroll-behavior: smooth;}
html{background-color: rgb(235,235,235);}
body{min-height: 100vh; display: grid; grid-template-rows: auto 1fr auto; align-items: start;}

/* Links */
a{text-decoration: none;}
a:hover{text-decoration: none;}

/* Unordered Lists */
ul{list-style-position: inside;}
ul li{margin-left: 10px;}

/* Horizontal Row */
hr{border: 1px groove gray; border-radius: 10px; background-color: darkgray; margin: 4px 0px 8px 0px;}

/* Inside Body - Header, Main & Footer */
header, footer{font-family: monospace; height: 35px; outline: 1px solid dimgray; background-color: white;}
header{display: grid; grid-template-columns: 50% 50%; place-content: center space-between;}
header div:nth-child(1){display: flex; gap: 5px;}
header div:nth-child(2){text-align: right; text-decoration: underline;}
header h6, header a{padding: 4px; font-size: 1.4em;}
header a{background-color: rgb(220,220,220); border-radius: 5px;}
header a:hover{background-color: rgb(200,200,200);}
main{height: 100%; font-family: "Helvetica"; padding: 10px;}
main .Container{background-color: white; border-radius: 5px; outline: 1px solid dimgray; padding: 10px; height: fit-content;}
footer{display: grid; place-items: center;}

/* Suggestions */
#Suggestions .Boxes{display: grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr; gap: 5px;}
#Suggestions .Boxes div{background-color: lightgray;}
#Suggestions .Boxes div h2{text-align: center; padding-top: 10px;}
#Suggestions .Boxes div a{background-color: darkgray; margin: 4px; padding: 3px; display: grid;}
#Suggestions .Boxes div a:hover{background-color: gray;}

/* Home */
#Home{display: grid; grid-template-columns: 1fr auto; gap: 10px;}
#Home .SocialBox{width: 370px; font-size: 0.6em;}
#Home .Socials{display: grid; grid-template-columns: 50% 50%; gap: 3px;}
#Home .Socials a{display: flex; align-items: center; padding: 5px; margin: 3px 0px; background-color: lightgray; border-radius: 10px;}
#Home .Socials a:hover{background-color: darkgray;}
#Home .Socials img{width: 25px; height: 25px; margin-right: 5px; object-fit: scale-down;}
#Home .Socials a p{display: grid;}
#Home .Socials a p span:nth-child(1){font-weight: bold;}
#Home .Socials a:hover p span:nth-child(2){font-weight: bold;}
/*#Home .Socials a:hover img{position: fixed; top: 50vh; left: 50vw; transform: scale(20);}*/

/* Library */
#Library a{display: flex; background-color: rgb(220,220,220); padding: 5px; margin: 5px 0px;}
#Library a:hover{background-color: rgb(200,200,200);}

/* ## Button - Return to Top ## */
#TopButton{position: fixed; bottom: 15px; right: 15px; display: none; background-color: rgb(0,0,0,45%); width: 45px; height: 45px; color: white; border: 2px solid rgb(0,0,0,35%); border-radius: 10px; font-size: 2em;}
#TopButton:hover{background-color: rgb(0,0,0,50%);}

/* Smaller Page Size */
@media (min-width: 0px) and (max-width: 1000px){
header div:nth-child(2){display: none;}
main{grid-template-columns: auto !important;}
#Home .SocialBox{width: 100%;}
}